* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    color: var(--white-color);
}
p {
    font-size: 16px;
    color: var(--font-color);
    line-height: 24px;
}
small {
    font-size: 13px;
}
h1 {
    color: var(--h1color);
    font-size: 22px;
    text-align: center;
    line-height: 22px;
}
h2 {
    color: var(--h2color);
    text-align: center;
    margin-top: 40px;
    padding: 0px 10px;
    font-size: 28px;
}
h3 {
    font-size: 21px;
    color: var(--white-color);
}
h4 {
    font-size: 19px;
    color: var(--white-color);
}
html {
    background-color: var(--black-color);
}
main section, html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}
main {
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    height: 100%;
    padding-top: 80px !important;
    overflow: hidden;
}
main section {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    width: 760px;
    flex: 0 1 auto;
    padding: 0px 30px;
    overflow-y: scroll;
    border-right: 1px solid var(--main-border-color);
    background-color: var(--bg-color);
    transition: all 0.5s;
    order: 2;
}
main section > div, .times {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px
}
::-webkit-scrollbar {
    width: 0;
}
a {
    width: fit-content;
    font-weight: bold;
    text-decoration: none;
}
a:focus-visible {
    border: 1px solid rgb(68, 68, 68);
    outline: none; 
}

.mikinha img, .joinha img {
    width: 80px;
}
.tabela-link a {
    color: black;
    background-color: var(--tabela-link);
    border: 2px solid transparent;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.3s;
}
.tabela-link a:hover {
    background: var(--black-color);
    color: var(--white-color);
    border: 2px solid var(--set-border);
}

.rot-video {
    margin: 15px;
}
.rot-video a {
    padding: 5px 10px;
    background-color: var(--subtitulo-color);
    border-radius: 5px;
    margin-top: 15px;
}
nav a {
    border-top: 2px solid rgba(0, 0, 0, 0) ;
    border-bottom: 2px solid rgba(0, 0, 0, 0) ;
    font-size: 14px;
}
nav a:hover {
    border-bottom: 2px solid var(--white-color) ;
}
.h2sep {
    background: var(--bg-intro-color);
    width: 100%;
    height: 2px;
}
:root {
    --tabela: rgba(24, 24, 24, 0);
    --font-color: rgba(255, 255, 255, 0.774);
    --white-color: rgb(255, 255, 255);
    --black-color: rgb(0, 0, 0);
    --border-color: ;
    --main-border-color: rgb(110, 110, 110);
    --nav-border: rgba(255, 255, 255, 0.185);
    --subtitulo-color: rgba(255, 255, 255, 0.219);
    --set-border: rgba(255, 255, 255, 0.274);
    --h1color: rgb(255, 255, 255);
    --tabela-link: white ;
    --fundo-generico: linear-gradient(0deg, rgb(27, 91, 134), rgb(6, 66, 116));
    --txt05: rgba(255, 255, 255, 0.5);
    --pyro: rgba(255, 117, 117, 0.911);
}
.themeblue:root {
    --txt05: rgba(0, 0, 0, 0.5);
    --pyro: rgba(255, 117, 117, 0.829);
    --fundo-generico: linear-gradient(0deg, rgb(36, 121, 179), rgb(66, 137, 196));
    --tabela: rgba(255, 255, 255, 0);
    --font-color: black;
    --white-color: black;
    --black-color: white;
    --border-color: ;
    --main-border-color: rgb(48, 48, 48);
    --nav-border: rgba(37, 37, 37, 0.13);
    --subtitulo-color: rgb(240, 240, 240);
    --set-border: rgba(39, 39, 39, 0.233);
    --h1color: rgb(255, 255, 255);
    --tabela-link: rgb(218, 218, 218);
}

.pyro {
    color: var(--pyro);
}
.set {
    padding: 20px;
    border: 2px solid var(--set-border);
    border-radius: 10px;
    transition: all 0.3s;
}
.txt-icon {
    height: 14px;
}
.imgfull, .imghalf, .imgtabela, .mikinha, .joinha {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.imgfull img {
    width: 100%;
    border-radius: 20px;
}
.imghalf img {
    width: 100%;
    max-width: 320px;
    border-radius: 15px;
}
.imgtabela img {
    width: 100%;
    border-radius: 10px;
}
.flex, .artefato-img {
    display: flex;
}
.artefato-img2pc {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px
}
.artefato-img2pc img {
    width: 60px;
}
.titulo-padding {
    padding-right: 5px;
}
nav a:first-of-type {
    margin-top: 0
}
span {
    font-weight: bolder;
    color: var(--white-color)
}
.banner {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%; 
    position: relative;
}
.banner img {
    border-radius: 15px;
    width: 100%;
    transition: all 1s;
}
.banner-c {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.banner-c small {
    line-height: 0px;
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.664);
    text-shadow: 0px 0px 5px black;
}
@media (max-width: 420px) {
    .banner-c small {
        font-size: 10px;
    }
    .banner-c {
        left: 5px;
        bottom: 5px
    }
}
.banner:hover, .banner-fim img:hover {
    border-radius: 2px;
}
.irtopo {
    width: 100%;
    height: 0;
}
.charmais {
    position: relative;
    height: 60px;
}
.charmais .btnmais {
    font-size: 20px;
    position: absolute;
    background: rgba(255, 255, 255, 0.753);
    color: black;
    line-height: 14px;
    z-index: 5;
    padding: 7px;
    border-radius: 5px;
    right: -5px;
    bottom: -5px;
    backdrop-filter: blur(10px);
    transition: all 0.3s;
    border: 2px solid var(--btn-border);
}
.charmais .btnmais:hover {
    cursor: pointer;
    scale: 120%;
}
.charmostrar, .charmostrar2 {
    display: none;
    transition: all 1s;
}
body {
    background: var(--black-color);
    height: 100vh;
    flex-flow: column nowrap;
    transition: all 0.2s;
}
.bgblue {
    opacity: 0;
}
.bgcolor {
    flex-flow: column nowrap;
    align-items: center;
    position: fixed;
    top: 100px;
    right: 80px;
    z-index: 5;
}
.botao2 {
    position: relative;
}
.bblue {
    border: 2px solid var(--botao-border-color);
    align-items: center;
    background: var(--botao-color);
    position: absolute;
    flex-flow: row nowrap;
    gap: 10px;
    left: 0;
    top: 0;
    width: fit-content;
    height: fit-content;
    border-radius: 100px;
    cursor: pointer;
    padding: 5px;
}
.moon {
    transition: all 0.3s;
    width: 25px;
    height: 25px;
    scale: 120%;
}
.sun {
    opacity: 0;
    transition: all 0.3s;
    width: 25px;
    height: 25px;
    scale: 120%;
}
.bgblue:checked + .bblue .ball {
    transform: translateX(34px);
}
.bgblue:checked + .bblue .moon {
    opacity: 0;
}
.bgblue:checked + .bblue .sun {
    opacity: 1;
}
.ball {
    position: absolute;
    background: var(--ball-color);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    transition: all 0.4s;
    z-index: 6;
}
.botao-txt {
    font-weight: bold;
    color: var(--botao-txt);
}





.counterside {
    width: 200px;
}
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 0 26px 0 13px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.151);
    position: fixed;
    z-index: 10;
    background: var(--bg-header-color);
    backdrop-filter: blur(10px);
    background-size: 400%;
    line-height: 16px;
    animation: header 35s infinite;
    gap: 12px;
}
header div, header div .home {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
header div {
    gap: 5px;
}
.home {
    gap: 10px
}
header img {
    height: 70%;
}

@keyframes header {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 0% 0%;
	}
}
.talento-nome {
    margin-left: 5px;
    font-weight: normal;
}
nav {
    width: 320px;
    flex: 0 0 auto;
}
.nav {
    flex-flow: column nowrap;
    border-right: 1px solid var(--main-border-color);
    padding: 20px 15px;
    order: 1
}
.nav .links {
    margin-top: 20px;
    flex-grow: 1;
}
.nav .links div {
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 10px 15px;
    border: 3px solid var(--nav-border);
    border-radius: 20px;
}
.contato {
    order: 3;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px 30px;
}
.contato img, .contato2 img {
    height: 17px;
    margin-right: 10px;
}
.contato div, .contato2 div {
    flex-flow: row nowrap;
    align-items: center;
}
.footer {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    margin-top: 200px;
    flex-flow: column-reverse;
    align-items: center;
    gap: 40px;
    margin-bottom: 30vh;
}
.imgcredit {
    margin-top: 15px;
    font-weight: lighter;
    font-size: 15px;
}
.contato2 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    display: none;
}
.selos {
    flex-flow: row wrap;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.selo {
    flex-flow: column;
    align-items: center;
    transition: all 0.5s;
    gap: 10px;
}
.selo:hover {
    scale: 110%;
}
.selo img{
    width: 60px;
    border-radius: 20px;
}
.autoria {
    padding: 0 15px;
}
.autoria2 {
    text-align: left;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 60px;
    font-size: 17px;
    display: none;
}
.sublink {
    margin-left: 14px;
    margin-top: 0px;
    padding: 0 !important;
}
.sublink2 {
    margin-left: 33px;
    font-weight: lighter;
    line-height: 14px;

}
.subtitulo {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    background: var(--subtitulo-color);
    border-radius: 10px;
    padding: 14px 16px;
}
.intro {
    background: var(--bg-intro-color);
    padding: 20px 10px;
    border-radius: 5px;
    text-align: center;
}
.intro p, .intro span {
    font-size: 19px;
    color: white;
}
.combo h1 {
    color: var(--white-color);
}
.intro h2, .margintop0 {
    margin-top: 0;
}
.supremo-modo, .reqt {
    margin-top: 7px;

}
.modos-lista li {
    margin-top: 15px;
    margin-left: 20px;
}
.formas {
    margin-bottom: 0;
}
.source {
    margin-top: 10px;
}
.destaque {  
    padding: 15px;
    border-radius: 10px;
    background-color: var(--white-color);
}
.destaque b {
    color: var(--black-color);
}
.destaque a {
    color: var(--black-color);
    text-decoration: underline;
}
.destaque p {
    color:  var(--black-color);
}
.destaque span {
    background-color:   var(white);
    color:  var(--black-color);
}

.fonte-maior {
    font-weight: bold;
    text-decoration: underline;
}
.personagem {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 15px;
    text-align: center;
    padding: 20px 10px;
    border-radius: 10px;
}
.personagem > img {
    width: 120px;
}
.multi-personagem {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 16px;
    padding: 20px 10px;
}
.multi-personagem > img {
    width: 120px;
}
@keyframes tremida {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(1deg);
    }
    40% {
        transform: rotate(-2deg);
    }
    60% {
        transform: rotate(2deg);
    }
    80% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.personagem > img:hover {
    animation: tremida 0.5s;
}
.miniguia-img {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: 10px 0;
}
.miniguia-img img {
    width: 80px !important;
}
.separacao {
    height: 3px;
    margin: 40px 0;
    width: 100%;
    background: linear-gradient(90deg, rgb(255, 180, 255), rgb(93, 93, 255))
}
.preto {
    color: black;
}

.comp {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    margin-bottom: 15px;
    background: var(--black-color);
    transition: all 0.5s;
}
.comp img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    transition: all 1s;
}
.artefato-nome, .comp-nome {
    width: 100%;
    text-align: center;
    font-size: 18px;
}
.comp-nome {
    margin-bottom: 10px;
}
.times .set p {
    margin: 10px 0;
}
.times .set .rot-sep {
    margin: 0;
}
.times .set p:first-of-type {
    margin-top: 0;
}
.times .set p:last-of-type {
    margin-bottom: 0;
}
.times .set .cima  {
    height: 45px;
    transform: translateY(0px);
    margin: 0;
}
.times .set .meio {
    margin: 0;
}
.times .set .baixo {
    height: 60px;
    transform: translateY(-8px);
    margin: 0;
}
.times .set .baixo2  {
    height: 54px;
    transform: translateY(-8px);
    margin: 0;
}
.times .set .meio img {
    z-index: 3;
}
.times .set .baixo img, .times .set .cima img {
    z-index: 2;
}
.times .set .baixo2 img {
    z-index: 1;
}
.times .set .baixo3 img {
    scale: 80%;
    transform: translateY(-41px);
    z-index: 0;
    margin: 0;
}
.times .set .baixo img, .times .set .baixo2 img, .times .set .cima img {
    scale: 90%;
}
.anima {
    animation: slide 1s ;
}
@keyframes slide {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
    }
}
.intro-anima {
    animation: introanima 1.5s;
}
@keyframes introanima {
    0% {
        transform: translateY(150px);
        filter: saturate(0);
    }
    50% {
        filter: saturate(3);
    }
    70% {
        filter: saturate(2);

    }
    100% {
        transform: translateY(0px);
    }
}

.anima2 {
    animation: slide2 1.5s;
}
@keyframes slide2 {
    0% {
        transform: translateY(150px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes slide3 {
    0% {
        transform: translateY(200px);
    }
    100% {
        transform: translateY(0px);
    }
}
.anima4 {
    animation: slide3 3s
}
.anima3 {
    animation: slide3 2s ;
}
.anima5 {
    animation: slide3 2s;
}



.redirect {
    text-decoration: underline;
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.fundo-generico {   
    background: var(--fundo-generico);
}
.t5 {
    background: linear-gradient(0deg, rgb(238, 157, 7), rgb(179, 124, 5)) ;
}
.t4 {
    background: linear-gradient(0deg, rgb(179, 57, 235), rgb(109, 9, 134)) ;
}
.inv {
    opacity: 0;
}
iframe {
    width: cover;
    margin: 20px 0;
}
.armas .set {
    padding-top: 20px
}
.tabela {
    width: 100%;
    margin-top: 20px; 
}
.combo {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}
.combo-tabela {
    margin-top: 20px;
}
@media (max-width: 500px) {
    .combo-tabela th {
        font-size: 11px;
        padding: 4px 2px;
    }
    .combo-tabela td {
        padding: 4px 2px;
        font-size: 10px;
        line-height: 12px;
    }
    .tabela-cd th, .tabela-artefatos th {
        font-size: 12px;
        line-height: 14px;
    }
    .tabela-armas td {
        padding: 3px 2px;
        line-height: 13px;
    }
    .tabela-armas th {
        padding: 3px;
        line-height: 15px;
    }
}
.tabelahide2 {
    display: none;
}
.tartaglia-cd-img {
    width: 100%;
    display: flex;
    justify-content: center;
}
.tartaglia-cd-img img {
    width: 200px;
    border-radius: 20px;
}
.tabela-cd {
    margin-top: 20px;
}
.subtitulo3 {
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
}
.subtitulo4 {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}
.legenda {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 40px;
}
.l1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.l2 {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 10px;
}
.l2 p {
    margin: 0 !important;
}
.nav-mobile {
    width: 100%;
    height: fit-content;
    border-top: 2px solid rgba(255, 255, 255, 0.151);
    display: none;
    background: var(--mobile-nav-bg);
    backdrop-filter: blur(10px);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0 5px
}
.nav-mobile a {
    flex-grow: 1;
    text-align: center;
    padding: 17px 5px;
    border-top: 2px solid rgba(0, 0, 0, 0) ;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.nav-mobile a:hover {
    border-top: 2px solid white ;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.tabela-dano-div {
    margin-top: 15px;
}
.tabela-dano, .tabela-dano img {
    width: 100%;
    border-radius: 10px;
}
.charlink {
    text-decoration: underline;
    text-align: center;
    color: white;
}
.pros h3, .contras h3 {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.pros p, .contras p {
    font-size: 14px;
    margin: 10px 0;
    padding: 0;
    line-height: 16px;
}
.txtpros, .txtcontras {
    display: none;
    flex-flow: column nowrap;
    margin-top: 10px;
    padding: 10px 15px;
    border: 2px solid var(--set-border);
    border-radius: 15px;
    transition: all 1s;
}
#pros, #contras {
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 30px;
    background: var(--js-botao);
    transition: 0.3s all;
}
#pros:hover {
    cursor: pointer;
    background: var(--js-pros-hover);
}
#contras:hover {
    cursor: pointer;
    background: var(--js-contras-hover);
}

@keyframes txt {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.substatus h3 {
    text-align: center;
}

.passivas {
    gap: 0;
}
.passivas h3 {
    font-size: 24px;
    text-align: center;
}
.passivas > div {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}
.passivas span {
    font-size: 17px;
}
.passivas .rot-sep {
    margin-bottom: 0;
}
.artefato-img {
    justify-content: center;
}
.artefato-img img {
    width: 80px;
}
.no-bold {
    font-weight: 100;
}

.cons img {
    height: 45px;
}
.cons {
    flex-flow: column nowrap;
    gap: 12px
}
.cons h1 {
    font-size: 26px;
}
.cons h3 {
    font-size: 19px;
}
.cons-head {
    align-self: flex-start;
    display: flex;
    flex-flow: row nowrap;
    background: var(--cons-head);
    border-radius: 20px;
    font-size: 25px;
    padding: 10px 20px;
    gap: 10px;
    align-items: center;
    transition: all 1s;
    box-shadow: 0 0 1px 5px rgba(0, 0, 0, 0.062) inset;
}
.cons-head:hover {
    scale: 95%;
    cursor: default;
    border-radius: 50px;
}
.nota {
    display: flex;
    flex-flow: row nowrap;
}
.transparente {
    opacity: 25%;
}
.explicacao-nota {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.185), rgba(255, 255, 255, 0));
    padding: 15px;
    border-radius: 10px;
}
.talento-img {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 15px 0;
}
.talento-img img {
    width: 90%;
    border-radius: 15px;
    margin: 5px 0;
}
.talento-doubleimg {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}
.talento-doubleimg > div {
    width: 50%;
}
.talento-doubleimg img {
    width: 100%;
    border-radius: 10px;
}
.banner-fim {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}
.banner-fim img {
    width: 100%;
    border-radius: 30px;
    transition: all 1s;
}
.prioridades-s {
    margin-top: 15px;
}
.arma-linha {
    background: var(--arma-linha);
    height: 80px;
    width: 2px;
}
.arma {
    display: flex;
    flex-flow: row nowrap;
    border: 2px solid var(--arma-border);
    border-radius: 10px;
    align-items: center;
}
.arma .img-div {
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    padding-top: 10px;
    width: 150px;
}
.arma img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: all 1s;
}
.arma img:hover {
    transform: rotate(-33deg);
    scale: 110%;
}
.arma .arma-texto {
    padding: 15px;
    width: calc(100% - 150px);
}
.arma .arma-texto p {
    padding-top: 0;
    line-height: 18px;
    font-size: 14px;
}
.arma .arma-texto h3 {
    margin-bottom: 5px;
    line-height: 24px;
}
.subtitulo-armas, .subtitulo-tabela-artefatos {
    background: var(--subt-armas);
    margin-top: 20px;
    padding: 15px;
    font-size: 22px;
    border-radius: 15px;
}
.prof2 {
    display: none;
}
.icone {
    width: 40px;
    padding: 2px;
    border-radius: 12px;
    background: var(--img-background);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.11) inset;
}
.icone-dois {
    width: 14px;
    margin-right: 3px;
}
.icone-maior {
    width: 25px;
    margin-right: 5px;
}
.align-center {
    display: flex;
    align-items: center;
}
.talentos-1 {
    gap: 0;
}
.talentos-1 p {
    padding-top: 0px;
}
.talento-titulo {
    flex-flow: row nowrap;
    padding: 10px 20px 10px 0px;
    margin-top: 10px;
    align-items: center;
    gap: 10px;
    width: fit-content;
    border-radius: 3px;
}
.talento-titulo span {
    font-size: 19px;
}

.bonequin {
    width: 40px;
    height: 40px;
}
.adendo {
    font-size: 13px;
}
.flex-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    width: fit-content;
}
.flex-column {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.flex-column img {
    width: 45px;
}
.comparacao {
    font-size: 40px;
    width: 60px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.c1 {
    padding-top: 0px
}
.prioridade-txt {
    font-size: 20px;
    margin-bottom: 2px;
    text-align: center;
}
.prioridades {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 5px;
    align-items: center;
    width: fit-content;
    margin: 15px auto;
}
.prioridades img {
    background: var(--img-background);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.11) inset;
    border-radius: 10px;
}
.manter, .personagem h4, .nav-mobile a, .personagem p, .personagem span, .personagem li, .personagem b {
    color: white
}
.nseipq {
    color: var(--black-color)
}
.manterbranco {
    color: var(--intro-color)
}
.versao {
    font-style: italic;
    padding-left: 15px;
    margin-top: 4px;
    color: var(--set-border);

}

.botao-tierlist {
    display: none;
}
.botao-vermais {
    border: 2px solid var(--set-border);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    transition: all 1s;
    gap: 20px
}
.botao-vermais .expandir, .botao-vermais .retrair  {
    background-color: var(--tierlist-botao);
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    border-radius: 20px;
    color: var(--font-color);
    font-size: 20px;
    padding: 20px 0;
}
.botao-vermais .expandir:hover, .botao-vermais .retrair:hover {
    background: var(--botao-hover)
}
.retrair label {
    display: flex;
    justify-content: center;
    width: 100%;
}
.tierlist {
    display: none;
    margin-top: 20px;
    transition: all 1s;
}
.tierlist-linha {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
}
.tierlist-linha a {
    height: 55px;
    cursor: pointer;
}
.tierlist-linha img {
    height: 55px;
    transition: all 0.3s;
}
.tierlist img:hover {
    scale: 110%;
}
.tierlinha {
    margin: 5px 0;
    flex-flow: column nowrap;
    gap: 5px;
}

.botao-vermais .retrair {
    display: none;
}

.tier1, .tier2, .tier3, .tier4, .tier5 {
    width: 100%;
    font-size: 15px;
    padding: 7px 10px;
    border-radius: 5px;
}
.tierlinha p {
    color: var(--white-color);
    font-weight: bold;
}
.tier1 {
    background: linear-gradient(270deg, rgba(60, 255, 0, 0.596), rgba(60, 255, 0, 0.205)) ;
}
.tier2 {
    background: linear-gradient(270deg, rgba(179, 255, 0, 0.603), rgba(179, 255, 0, 0.178));
}
.tier3 {
    background: linear-gradient(270deg, rgba(251, 255, 0, 0.61), rgba(251, 255, 0, 0.171));
}
.tier4 {
    background: linear-gradient(270deg, rgba(255, 187, 0, 0.603), rgba(255, 187, 0, 0.185));
}
.tier5 {
    background: linear-gradient(270deg, rgba(255, 0, 0, 0.603), rgba(255, 0, 0, 0.144));
}
.tiernota {
    margin-top: 20px;
}
.excel {
    width: 100%;
    display: flex;
    justify-content: center;
}
.excel a {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 15px;
    padding: 5px 10px;
    background: var(--nav-border);
    border-radius: 15px;
    text-decoration: underline;
    color: white;
}
.excel a img {
    width: 20px;
    height: 20px;
}
.cb1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}
.cb1 h3, .subtituloh3 {
    text-align: center;
}
.cb2 p {
    font-size: 14px !important;
    line-height: 16px;
}
.cb2 {   
    padding: 15px 0px;
    width: 45%;
}
.cbsep {
    width: 3px;
    background: var(--arma-linha);
    align-self: stretch;
}
@media (max-width: 600px) {
    .cb1 {
        flex-flow: column nowrap;
    }
    .cb2 {
        width: 100%;
    }
    .cbsep {
        display: none;
    }
}
.status p {
    margin: 0;
    padding: 0;
}
.status h4 {
    font-size: 14px;
}
.status {
    flex-flow: row nowrap;
    text-align: center;
    margin-bottom: 60px;
}
.status .cards {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 20px
}
.status .artefato-card {
    display: flex;
    flex-flow: column nowrap;
    width: calc(100% / 5);
    padding: 7px 5px;
    border-radius: 10px;
    font-size: 14px;
    align-items: center;
    position: relative;
    border: 2px solid var(--set-border);
    justify-content: space-between;
}
.status .artefato-card div:first-of-type {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-flow: column nowrap;
}
.status img {
    width: 80%;
}
.stat-icon {
    display: flex;
    justify-content: center;
    height: 10px;  
}
.stat-icon img {
    width: 40px;  
    height: 40px;
    transform: translateY(5px); 
}
.atributos .set p {
    line-height: 22px;
    font-size: 15px;
}
.statusbase {
    margin-top: 5px;
    font-size: 16px;
}
.miniguia-table th, .miniguia-table td {
    border: 2px solid rgba(255, 255, 255, 0.13);
    color: white;
    background: var(--tabela);
}
.table-container {
    max-width: 100%;
    overflow-x: auto;
}
table {
    width: 100%;
    margin: 20px 0
}
table th, table td {
    border: 1px solid var(--set-border);
    background: var(--tabela);
    padding: 5px;
    height: 35px;
    margin: 0;
}

table td:first-of-type {
    font-size: 13px;
}
table td {
    font-size: 12px;
    text-align: center;
    color: var(--white-color);
}
table th {
    font-size: 14px;
    color: var(--white-color);
}
.tabela-artefatos th, .tabela-artefatos td {
    height: 25px !important;
}
.principais-icon {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.principais-icon p {
    margin-top: 5px;
}
.principais-icon div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.principais-icon div h3 {
    font-size: 19px;
    text-align: center;
}
.principais-icon img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}
.statusprincipais .artefato-img {
    margin-top: 15px;
}
.statusprincipais p {
    margin: 10px 0 
}
.txt05 {
    color: var(--txt05);
}
@media (max-width: 1300px) {
    .contato {
        display: none;
        width: 0;
        height: 0;
    }
    .contato2 {
        display: flex;
        align-items: center;
    }

}
@media (max-width: 1298px) {
    .bgcolor {
        position: initial; 
        transform: translate3d(-60px, -6px, 0px);    
    }  
    .autoria-mobile {
        display: flex;
        flex-flow: row nowrap !important;
        justify-content: flex-end;
    }
    .animabotao {
        animation: slidebotao 1.5s;
    }
    @keyframes slidebotao {
        0% {
            transform: translateY(150px);
        }
        100% {
            transform: translateY(0);
        }
        
    }
}
@media (max-width: 1080px) {
    .counterside {
        display: none;
    }
}
@media (max-width: 980px) {
    .nav-mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
    .nav {
        display: none;
        width: 0;
        height: 0;
    }
    main section {
        width: 100%;
        max-width: 700px;
        padding: 0 20px;
        border-left: 1px solid rgb(110, 110, 110);   
    }
    .autoria2 {
        display: block;
    }
    body {
        height: auto;
    }
    main {
        height: auto;
    }
    .autoria-mobile {
        justify-content: space-between;
    } 
    
}
.rot-sep, .comp-divisao {
    border: 0;
    padding: 0;
    width: 100%;
    height: 3px;
    background: var(--arma-linha-x);
    margin: 15px 0;
}
.comp-divisao {
    margin: 0px 0 18px 0 !important;
}
.b9 .rot-sep{
    margin: 0px;
}



@media (max-width: 810px) {
    main section {
        border: none;
    }
}
@media (max-width: 700px) {
    .arma {
        align-items: center;
    }
    .tabela-personagens th {
        font-size: 12px;
    }
    .tabela-personagens td, .tabela-personagens td:first-of-type {
        font-size: 10px;
    }
}
@media (max-width: 650px) {
    .stat-icon img {
        width: 25px;  
        height: 25px;
        transform: translateY(5px); 
    }
}
@media (max-width: 600px) { 
    header a h1 {
        display: none;
    }
    .counterside {
        display: block;
        width: 45px;
    }
    .footer {
        flex-flow: column-reverse;
        align-items: center;
        gap: 40px;
    }
    .prof {
        display: none;
    }
    .prof2 {
        display: flex;
        align-self: center;
    }
}

.desktop-only {
    display: none;
}
.mobile-only {
    display: block;
}
@media (max-width: 600px) {
    .desktop-only {
        display: block;
    }
    .mobile-only {
        display: none;
    }
}

@media (max-height: 563px) {
    .nav a {
        margin-top: 9px
    }
    .nav .sublink {
        margin-top: 0px
    }
}

@media (max-height: 528px) {
    .nav .links {
        margin-top: 0
    }
}
@media (max-width: 500px) {
    header h1 {
        font-size: 18px;
    }
    .status .artefato-card {       
        width: calc(100% / 3.2);
    }
    .status h4 {
        font-size: 11px;
    }
    .stat-icon img {
        width: 30px;  
        height: 30px;
        transform: translateY(5px); 
    }
    .atributos .set p {
        line-height: 20px;
    }
    .tabela-personagens th {
        font-size: 10px;
    }
    .status .flor {
        display: none;
    }
    .status .pena {
        display: none;
    }
    .status .artefato-card {       
        width: calc(100% / 3.3);
    }
}
@media (max-width: 450px) {
    .arma {
        flex-flow: column nowrap;
    }
    .arma .arma-texto {
        width: 100%;
    }
    .arma img {
        width: 130px;
    }
    .arma .img-div {   
        padding-bottom: 15px;
        justify-content: center;
        flex-flow: row nowrap
    }
    .arma-linha {
        height: 2px;
        width: 60%;
        background: var(--arma-linha-x);
    } 
    .nav-mobile a {
        font-size: 12px;
    }
}
@media (max-width: 434px) {
    .tabela-personagens td {
        font-size: 9px;
        padding: 4px 1px;
    }
    .tabela-personagens td:first-of-type {
        font-size: 9px;
        padding: 4px 1px;
    }
    .raiden-tabela-passiva th, .raiden-tabela-comp1 th {
        font-size: 11px;
    }
    .raiden-tabela-passiva td, .raiden-tabela-comp1 td {
        font-size: 10px;
    }
}
@media (max-width: 420px) {
    .arma .img-div {
        width: 30%;
    }
    .arma img {
        width: 100%;
    }
    .personagem p {
        line-height: 18px;
    } 
    .personagem li {
        line-height: 19px;
    }
}
@media (max-width: 400px) {
    
    .tabelahide1 {
        display: none;
    }
    .tabelahide2 {
        display: block;
    }
    .hutaot {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 7px;
    }
    
    
}
@media (max-width: 380px) {
    .tabela-personagens td {
        font-size: 7px;
    }
    .tabela-personagens th {
        font-size: 8px;
    }
    .raiden-tabela-comp1 td:first-of-type {
        font-size: 10px;
    }
}
@media (max-width: 360px) {
    .comp img {
        width: 50px;
        height: 50px;
    }
    .nav-mobile a {
        font-size: 10px;
    }
    main .topo {
        padding: 0 12px
    }
    .b109 th {
        font-size: 12px;
    }
    .b109 td:first-of-type {
        font-size: 11px;
    }
    .raiden-tabela-comp1 th {
        font-size: 9px;
    }
}

/* TODO: Dependendo do dispositivo a legibilidade fica prejudicada, com texto branco num fundo claro */
.dendro-background {
    background: linear-gradient(270deg, rgba(12, 219, 29, 0.753), rgba(3, 211, 90, 0.719));
}
.anemo-background {
    background: linear-gradient(270deg, rgba(11, 206, 147, 0.808), rgba(4, 201, 168, 0.836));
}
.pyro-background {
    background: linear-gradient(90deg, rgba(253, 56, 56, 0.74), rgba(177, 13, 13, 0.651));
}
.hydro-background {
    background: linear-gradient(90deg, rgba(56, 108, 253, 0.74), rgba(5, 121, 189, 0.658));
}
.black-background {
    background: linear-gradient(90deg, rgba(19, 19, 19, 0.856), rgb(46, 46, 46));
}
.cryo-background {
    background: linear-gradient(90deg, rgba(56, 223, 253, 0.74), rgba(5, 177, 189, 0.658));
}
.geo-background {
    background: linear-gradient(90deg, rgba(255, 167, 5, 0.74), rgba(148, 102, 4, 0.658));
}
.electro-background {
    background: linear-gradient(90deg, rgba(226, 5, 255, 0.74), rgba(114, 4, 148, 0.658));
}
.talento-lista {
    padding-left: 20px;
    margin: 5px 0;
}
.talento-lista ul li {
    color: var(--font-color);
}
.personagem ul {
    text-align: left;
    padding-left: 28px;
}
.personagem li {
    margin-bottom: 8px;
    padding-right: 10px;
}

.ul-without-bullet {
    list-style-type:none;
}
.video-combo-sample {
    display: block;
    height: 360px;
    margin: 16px 0 16px 0;
}
@media (max-width: 360px) {
    .video-combo-sample {
        height: 315px;
    }
}
.link-button {
    width: -moz-fit-content;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    background-color: var(--nav-border);
    margin-bottom: 16px;
}
.media {
    width: 100%;
}
.image-border {
    border-radius: 15px;
}
.accordion {
    background-color: var(--nav-border);
    padding: 8px 16px;
    border-radius: 4px;
}
.accordion summary {
    cursor: pointer;
}
.accordion p:nth-child(2) {
    margin-top: 8px;
}
.accordion > p {
    margin-bottom: 8px;
    padding-top: 0;
    margin-top: 8px;
}
.summary-style-2 {
    font-size: 20px;
    padding: 10px 0;
}
.column, .faq, .b9, .substatus {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px
}
.faq h3 {
    margin-bottom: 10px;
}

.comp-empty-slot {
    width: 60px;
    height: 60px;
}

@media (max-width: 360px) {
    .comp-empty-slot {
        width: 50px;
        height: 50px;
    }
}

.set-ul {
    padding-left: 20px;
}

.text-center {
    text-align: center;
}

.text-nowrap {
    text-wrap: nowrap;
}