:root {
    --bg-color: black;
    --bg-header-color: -webkit-linear-gradient(150deg, rgba(105, 0, 0, 0.247), rgba(252, 87, 87, 0.774), rgba(145, 19, 19, 0.466), rgba(255, 95, 95, 0.747), rgba(95, 0, 0, 0.192));
    --bg-intro-color: linear-gradient(90deg, rgba(216, 119, 119, 0.356), rgba(235, 97, 97, 0.432),  rgba(194, 75, 75, 0.308));
    --img-background: transparent; 
    --h2color: rgb(212, 109, 109);
    --intro-color: rgb(241, 172, 172);
    --arma-border: rgba(255, 255, 255, 0.274);
    --botao-border-color: rgba(255, 255, 255, 0.233);
    --mobile-nav-bg: rgba(0, 0, 0, 0.301);
    --personagem-txt: rgb(241, 241, 241);
    --icone-background: transparent;
    --ball-color: rgb(53, 53, 53);
    --hover: linear-gradient(160deg,  rgba(255, 255, 255, 0.164), rgba(255, 255, 255, 0.048), rgba(255, 255, 255, 0.048), rgba(255, 255, 255, 0.171));
    --hover-shadow: transparent;
    --arma-linha: linear-gradient(0deg, rgba(255, 255, 255, 0.151), rgba(255, 255, 255, 0.192), rgba(255, 255, 255, 0.151));
    --arma-linha-x: linear-gradient(90deg, rgba(255, 255, 255, 0.151), rgba(255, 255, 255, 0.192), rgba(255, 255, 255, 0.151));
    --tierlist-botao: rgba(255, 255, 255, 0.192);
    --botao-hover: rgba(255, 255, 255, 0.295);
    --card-shadow: rgba(0, 0, 0, 0.062);
    --js-botao: rgb(43, 43, 43);
    --js-pros-hover: rgba(144, 255, 144, 0.521);
    --js-contras-hover: rgba(253, 135, 135, 0.507);
    --btn-border: transparent;
    --hydro-border: rgba(255, 255, 255, 0.274);
    --cons-head: linear-gradient(90deg, rgba(253, 120, 120, 0.788), rgba(160, 16, 16, 0.76));
}

.themeblue:root {
    --cons-head: linear-gradient(90deg, rgba(253, 120, 120, 0.788), rgba(160, 16, 16, 0.76));
    --hydro-border: rgba(255, 255, 255, 0.425);
    --btn-border: rgba(0, 0, 0, 0.247);
    --js-pros-hover: rgba(116, 255, 116, 0.521);
    --js-contras-hover: rgba(253, 135, 135, 0.507);
    --js-botao: rgb(231, 231, 231);
    --card-shadow: rgba(255, 255, 255, 0.041);
    --tierlist-botao: rgba(0, 0, 0, 0.13);
    --botao-hover: rgba(0, 0, 0, 0.185);
    --arma-linha: linear-gradient(0deg, rgba(0, 0, 0, 0.048), rgba(0, 0, 0, 0.144), rgba(0, 0, 0, 0.048));
    --arma-linha-x: linear-gradient(90deg, rgba(0, 0, 0, 0.048), rgba(0, 0, 0, 0.144), rgba(0, 0, 0, 0.048));
    --hover-shadow: rgba(0, 0, 0, 0.068);
    --bg-color: rgb(252, 252, 252);
    --bg-header-color:  -webkit-linear-gradient(150deg, rgba(114, 47, 47, 0.438), rgba(214, 27, 27, 0.836), rgba(173, 33, 33, 0.644), rgba(230, 28, 28, 0.822), rgba(112, 14, 14, 0.637));
    --bg-intro-color: linear-gradient(90deg, rgba(216, 119, 119, 0.856), rgba(235, 97, 97, 0.808),  rgba(194, 75, 75, 0.753));
    --img-background: linear-gradient(180deg, rgba(243, 165, 165, 0.493), rgb(241, 125, 125)); 
    --h2color: rgb(212, 109, 109);
    --intro-color: rgb(248, 231, 231);
    --arma-border: rgba(46, 46, 46, 0.322);
    --botao-border-color: rgba(184, 184, 184, 0.178);
    --mobile-nav-bg: rgba(0, 0, 0, 0.623);
    --personagem-txt: rgb(255, 255, 255);
    --icone-background: linear-gradient(90deg, rgba(145, 37, 37, 0.753) 10%, rgba(241, 125, 125, 0.842) 90%, rgba(255, 95, 95, 0.247)) ;
    --ball-color: rgb(243, 243, 243);
    --hover: linear-gradient(150deg, rgba(0, 0, 0, 0.048), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.055));
}