:root {
    --bg-color: black;
    --bg-header-color: -webkit-linear-gradient(150deg, rgba(9, 82, 116, 0.527), rgba(87, 145, 252, 0.774),rgba(19, 105, 204, 0.466), rgba(95, 178, 255, 0.747), rgba(12, 77, 131, 0.445));
    --bg-intro-color: linear-gradient(90deg, rgba(152, 191, 236, 0.288), rgba(30, 116, 197, 0.596),  rgba(43, 154, 245, 0.336)  );
    --img-background: transparent; 
    --h2color: rgb(109, 157, 212);
    --intro-color: rgb(109, 145, 212);
    --cryo-color: rgb(200, 249, 255);
    --arma-border: rgba(255, 255, 255, 0.274);
    --botao-border-color: rgba(255, 255, 255, 0.233);
    --mobile-nav-bg: rgba(0, 0, 0, 0.301);
    --personagem-txt: rgb(241, 241, 241);
    --icone-background: transparent;
    --ball-color: rgb(53, 53, 53);
    --hover: linear-gradient(160deg,  rgba(255, 255, 255, 0.164), rgba(255, 255, 255, 0.048), rgba(255, 255, 255, 0.048), rgba(255, 255, 255, 0.171));
    --hover-shadow: transparent;
    --arma-linha: linear-gradient(0deg, rgba(255, 255, 255, 0.151), rgba(255, 255, 255, 0.192), rgba(255, 255, 255, 0.151));
    --arma-linha-x: linear-gradient(90deg, rgba(255, 255, 255, 0.151), rgba(255, 255, 255, 0.192), rgba(255, 255, 255, 0.151));
    --tierlist-botao: rgba(255, 255, 255, 0.192);
    --botao-hover: rgba(255, 255, 255, 0.295);
    --card-shadow: rgba(0, 0, 0, 0.062);
    --js-pros-hover: rgba(144, 255, 144, 0.521);
    --js-contras-hover: rgba(253, 135, 135, 0.507);
    --js-botao: rgb(43, 43, 43);
    --tabela-arma-color: white;
    --redirect: rgb(255, 255, 255);
    --redirect-hover: rgb(186, 241, 255);
    --cons-head: linear-gradient(90deg, rgba(120, 151, 253, 0.788), rgba(16, 78, 160, 0.76) );
    --subt-armas: linear-gradient(90deg, rgba(255, 255, 255, 0.26), rgba(255, 255, 255, 0.089));
}

.themeblue:root {
    --subt-armas: linear-gradient(90deg, rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 0.027));
    --cons-head: linear-gradient(90deg, rgba(120, 151, 253, 0.788), rgba(25, 120, 245, 0.76) );
    --redirect: rgb(0, 0, 0);
    --redirect-hover: rgb(166, 237, 255);
    --tabela-arma-color: rgb(255, 255, 255);
    --js-botao: rgb(231, 231, 231);
    --js-pros-hover: rgba(144, 255, 144, 0.521);
    --js-contras-hover: rgba(253, 135, 135, 0.507);
    --card-shadow: rgba(255, 255, 255, 0.041);
    --tierlist-botao: rgba(0, 0, 0, 0.13);
    --botao-hover: rgba(0, 0, 0, 0.185);
    --arma-linha: linear-gradient(0deg, rgba(0, 0, 0, 0.048), rgba(0, 0, 0, 0.144), rgba(0, 0, 0, 0.048));
    --arma-linha-x: linear-gradient(90deg, rgba(0, 0, 0, 0.048), rgba(0, 0, 0, 0.144), rgba(0, 0, 0, 0.048));
    --hover-shadow: rgba(0, 0, 0, 0.068);
    --bg-color: rgb(252, 252, 252);
    --bg-header-color: -webkit-linear-gradient(150deg, rgba(0, 75, 161, 0.527), rgba(2, 91, 255, 0.808),rgba(22, 150, 255, 0.589), rgba(7, 85, 255, 0.747), rgba(12, 64, 131, 0.445));
    --bg-intro-color: linear-gradient(90deg, rgba(49, 134, 231, 0.603), rgba(23, 127, 224, 0.815),  rgba(43, 154, 245, 0.74)  );
    --img-background: linear-gradient(180deg, rgba(165, 199, 243, 0.493), rgb(125, 171, 241));
    --h2color: rgb(28, 148, 247);
    --intro-color: rgb(255, 255, 255);
    --cryo-color: rgb(101, 183, 194);
    --arma-border: rgba(46, 46, 46, 0.322);
    --botao-border-color: rgba(184, 184, 184, 0.178);
    --mobile-nav-bg: rgba(0, 0, 0, 0.623);
    --personagem-txt: rgb(255, 255, 255);
    --icone-background: linear-gradient(90deg, rgba(37, 84, 145, 0.808) 10%, rgba(49, 115, 238, 0.842) 90%, rgba(55, 122, 223, 0.5)) ;
    --ball-color: rgb(243, 243, 243);
    --hover: linear-gradient(150deg, rgba(0, 0, 0, 0.048), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.055));
}